.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 6rem;
  min-height: 100vh;
}

.page-header {
  padding: 10px 20px;
  display: flex;
}
/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .page-header {
    padding: 20px 40px;
    display: flex;
  }
}
