.main {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  // padding: 6rem;
  min-height: 100vh;
}
.input {
  max-width: 200px;
  width: 100%;
  padding-bottom: 40px;
  input {
    width: 100%;
    background-color: $color-secondary;
    color: rgb(251, 251, 251);
    border-radius: 4px;
    padding: 5px 10px;
    font-size: $heading5;
    font-weight: $font-medium;
    cursor: pointer;
  }
}

.banner {
  position: relative;
  height: 430px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/images/hero.jpeg");

  .overlay {
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    opacity: 0.5;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: $heading2;

    font-weight: $font-bold;
    z-index: 1;
  }
}
// .section {
//   padding: 40px 60px;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   gap: 20px;
//   background-color: aqua;
// }
.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 40px 0;

  .title {
    display: flex;
    align-items: center;
    margin-left: 80px;
    font-size: $heading2;
    font-weight: $font-medium;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0px 30px;
  }
}

.select {
  margin-top: 80px;
  padding: 10px;
  font-size: 16px;
  border-color: $color-primary;
}
// BANNER2
.banner2 {
  position: relative;
  height: 430px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/images/banner.jpeg");

  .data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 50px;
    z-index: 1;
    color: whitesmoke;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $heading2;
      font-weight: $font-medium;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    opacity: 0.5;
  }

  // endBanner
}
/* Mobile */
@media (max-width: 700px) {
  .section {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      margin-left: 0;
    }
  }

  .data {
    flex-wrap: nowrap;

    flex-direction: column;
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    .section {
      display: flex;

      flex-wrap: wrap;

      .data {
        flex-wrap: nowrap;

        flex-direction: column;
      }
    }
  }
}
