// 18 +24
.Card {
  width: 300px;
  height: 300px;
  background-color: $color-gray;
  border-radius: 10px;
  padding: 7px 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;

  .arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-image: url("/assets/icons/right-arrow-alt.svg");

    background-repeat: no-repeat;
    object-fit: cover;

    svg {
      width: 44px; /* Dimensioni dell'SVG */
      height: 44px;
      fill: $color-secondary;
    }
  }

  .right {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  span {
    color: $color-details;
    font-weight: $font-regular;
  }
  // mainINFO
  &_mainInfo {
    color: $color-secondary;
    font-size: $heading5;

    span {
      font-weight: $font-medium;
      font-size: $heading4;
      color: $color-secondary;
    }

    .title {
      font-size: $heading3;
      font-weight: $font-medium;
    }
  }

  //   DEPARTURE
  .departure {
    display: flex;
    justify-content: space-between;
    .left {
      font-size: $paragraph;
      font-weight: $font-medium;
      p:nth-child(1) {
        color: aqua;
        font-size: $heading5;
        font-weight: $font-regular;
      }
    }
    .right {
      font-size: $heading5;
      font-weight: $font-medium;
    }
  }

  //   TIMING
  &_timing {
    font-size: $heading5;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p:nth-child(2) {
      color: $color-details;
    }
  }

  .accomodation {
    font-size: $heading5;
    font-weight: $font-medium;
  }

  .input {
    width: 100%;

    input {
      width: 100%;
      background-color: $color-secondary;
      color: rgb(251, 251, 251);
      border-radius: 4px;
      padding: 5px 10px;
      font-size: $heading5;
      font-weight: $font-medium;
      cursor: pointer;
    }
  }
}

// .Card:hover {
//   bo
// }
