$heading1: 36px;
$heading2: 32px;
$heading3: 24px;
$heading4: 18px;
$heading5: 14px;

$paragraph: 18px;

$fontMain: "Noto Sans", sans-serif;

// WRIGHT
$font-regular: 400;
$font-medium: 600;
$font-bold: 800;
